<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="C:\temp\Logs\internal-nlog4txt">
    <extensions>
        <add assembly="NLog.Database"/>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    <targets>
        <target name="database">
            <xsi:type>Database</xsi:type>
            <connectionString>
                Server=LAP-TUN-113YR73\SQLEXPRESS;database=CED.AlphaLog-t;Trusted_Connection=True;
                TrustServerCertificate=True
            </connectionString>
            <commandText>
                INSERT INTO dbo.Log ([Date],[Thread],[Level],[Logger],[System],[Message],[Exception], [LookupId],
                [ExecutionTime], [ResponseMessage] )
                VALUES (@log_date, @thread, @log_level, @logger,@system, @message, @exception, NULLIF(@LookupId, ''),
                @executiontime, @responsemessage)
            </commandText>
            <parameter name="@log_date" layout="${date}"/>
            <parameter name="@thread" layout="${threadid}"/>
            <parameter name="@log_level" layout="${level}"/>
            <parameter name="@logger" layout="${gdc:logger}"/>
            <parameter name="@system" layout="${gdc:system}"/>
            <parameter name="@message" layout="${gdc:message}"/>
            <parameter name="@exception" layout="${gdc:exception}"/>
            <parameter name="@LookupId" layout="${gdc:LookupId}"/>
            <parameter name="@executiontime" layout="${gdc:executiontime}"/>
            <parameter name="@responsemessage" layout="${gdc:responsemessage}"/>
        </target>

    </targets>
    <rules>
        <logger name="*" minlevel="Info" writeTo="database"/>
    </rules>
</nlog>